html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: serif;
    background-image: url('/images/crystalball.webp'); /* Adjust the path according to your folder structure */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #E5E4E2; /* Moonlight White for text to ensure readability on a dark background */
}

.medieval-sharp {
    font-family: 'MedievalSharp', cursive;
}