@model Category
<div class="row avoid-navbar">
    <div class="col-3"></div>
    <div class="col-6">
    <div class="card shadow mt-4">
        <div class="card-header">
            <div class="text-center">
                <h2 class="test-white py-2"> @(Model.Id != 0 ? "Update" : "Create") Category</h2>
            </div>
        </div>

        <div class="card-body">
            <form method="post" class="row">
                <input asp-for="Id" hidden />
                <div class="row">
                    <div class="col-10">
                            <div class="p-3">
                            <div asp-validation-summary="All"></div>
                            <div class="form-floating py-2">
                                <input asp-for="Name" type="text" class="form-control" />
                                <label asp-for="Name" class="ms-2"></label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2">
                                <input asp-for="DisplayOrder" type="text" class="form-control" />
                                <label asp-for="DisplayOrder" class="ms-2"></label>
                                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-3">
                                    <button class="btn btn-primary form-control">@(Model.Id != 0 ? "Update" : "Create")</button>
                                </div>
                                <div class="col-6 col-md-3">
                                    <a asp-controller="Category" asp-action="Index" class="btn btn-dark form-control">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </form>

        </div>
    </div>
    </div>
</div>

